{% extends "base.html" %}
{% block title %}About{% endblock %}

{% block head %}
<div class="container m-2" align="center" style="font-size: 20px">
<b>A WEB APPLICATION TO PREDICT HEART STROKES BASED ON VARIOUS FACTORS LIKE GENDER, AGE, VARIOUS DISEASES 
	AND SMOKING HABITS.
</b></div>
{% endblock %}

{% block content %}
<div class="container p-1" align="center">
	<!-- <img src="static/images/start.webp" width="60%"> -->
	<div class="container p-2">
		<p style="font-size: 20px; color: white">Heart Strokes have becoem one of the most common issues
			in today's world  because of various food habits, life style and stress.<br>

		It is really important to maintain good lifestyle and good food habits to decrease this threat.<br>

		According to the World Health Organization (WHO) stroke is the 2nd leading cause
		of death globally, responsible for approximately 11% of total deaths.
		Early identification of stroke can help doctors to give necessary medication to 
		the patient.<br><br><br><br>
		<ul align='left'>
		<li><b>The machine learning model (Logistic regression) was trained.</b></li>
		
		</ul>
</p>
	</div>
	

	
	
</div>
{% endblock%}